In [10]:
import pandas as pd

df = pd.read_excel("employees.xlsx")
df = df.drop(columns=["Unnamed: 0"])
df.to_excel('employees_clean.xlsx', index=False)

In [11]:
import pandas as pd

df = pd.read_excel("employees_clean.xlsx")
df

               Angajat  Salary  Experience   Bonus          Department
0        Elena Dumitru    7877           2   787.7               Sales
1           Ion Stoica    4022          11   804.4           Logistics
2             Ana Radu    4354           3   653.1         Procurement
3        Stefan Stoica   10640           7  2128.0         Engineering
4       Stefan Ionescu    7289          15  1457.8           Logistics
..                 ...     ...         ...     ...                 ...
995     Stefan Ionescu   11868           8  2373.6            Security
996      Maria Popescu   11380           1  1138.0               Legal
997      Cristina Radu    7292          11  1458.4               Legal
998  Vasile Constantin   11389           6  2277.8     Human Resources
999         Ioana Popa    5068           9  1013.6  Product Management

[1000 rows x 5 columns]